*{
    margin:0;
    padding:0;
}

nav{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
}

.content{
    font-family:'Roboto',sans-serif,bold ;
}
.container{
    
    width: 50vw;
    padding: 32px 0;
    margin: auto;
    font-family:'Roboto',sans-serif ;
    font-weight: bold;
}

.logo img{
    width: 34px;
   
}